[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"kivy-deps.sdl2-dev" = "==0.4.2"
"kivy-deps.sdl2" = "==0.4.5"
"kivy-deps.glew" = "==0.3.1"
"kivy-deps.angle" = "==0.3.3"
kivy = "==2.1.0"
kivymd = "==0.104.2"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.10"
